html,
body {
  background: #222222;
  margin: 0;
  color: #eee;
  position: relative;
}

a{
  color: #eee;
}

a:hover{
  color: #00ffff;
}

header {
    position: absolute;
    width: 100vw;
    height: 10vh;
    padding: 2vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

main {
  position: absolute;
  width: 78vw;
  height: 78vw;
  max-height: 75vh;
  max-width: 75vh;
  top: 15vh;
  left: 39vw;
  box-sizing: border-box;
  margin-left: 2vw;
  transform: translateX(-50%);
}

aside {
  position: absolute;
  width: 18vw;
  top: 15vh;
  right:0;
  box-sizing: border-box;
  margin-right: 2vw;
  padding-left: 1vw;
}

#container-alerts
{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}

#container-alerts .alert
{
  margin-bottom: 15px;
  border-top: 2px solid #00ffff;
  border-bottom: 2px solid #00ffff;
  padding-top: 10px;
  background: rgba(51, 51, 51, 0.75);
}

#container-alerts .alert span
{
  display: block;
  padding-bottom: 10px;
}

#container-alerts .alert span.title
{
  font-weight: bold;
}

#container-stats > p {
  margin-top: 0;
  margin-bottom: 3px;
}

canvas {
  background: #555555;
  width: 100%;
  height: 100%;
}

.playercard {
  border: 2px solid #555;
  padding: 15px;
  margin-bottom: 15px;
}

.truncate
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer
{
  position: absolute;
  width: 100vw;
  height: 10vh;
  padding: 2vw;
  bottom: -100vh;
  left: 0;
  box-sizing: border-box;
  font-size: 0.6rem;
}

footer:before
{
  content: " ";
  display: block;
  width: 100%;
  border-top: 1px solid #777;
}

.center
{
  text-align: center;
}
